*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body{
      font-family: "Open Sans";
      color: #fff;
}

section{
  background: url("bg2.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow:7px 7px 60px #000;
}

h1{
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.control input{
  padding: 10px;
  font-size: 16px;
  display: block;
  width: 100%;
  color:#000;
  background: #ddd;
  outline: none;
  border: none;
  margin: 1em 0;

}

.control .btn{
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase;
  background: #4f5f98;
  opacity: .7;
  transition:opacity .3s ease;
}

.btn:hover{
  opacity: .9;
}

.btn:focus{
  opacity: 1;
}

p{
    text-align: center;
}


a{
  text-decoration: none;
  color: #fff;
  opacity: .7;
}

a:hover{
  opacity: 1;
}
