<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
<html lang="en">
<head>
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block content %} {% endblock %}
</head>
<body>
    <header>
           <a href="{{url_for('main')}}">
            <img class="logo" src="images/logo.svg" alt="logo">
           </a>
          <nav>
            <ul class="nav_links" style="white-space:nowrap;">
              <li><a href="{{url_for('crypto',name= 'Bitcoin', rank='1')}}">Crypto Charts</a></li>
              <li><a href="{{url_for('news')}}">News</a</li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Learn</a></li>
            </ul>
          </nav>
          <a class="cta" herf="#">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
            Contact
          </a>
    </header>
    <hr />
    {% block body %} {% endblock %}
  </body>
</html>
